<%= form_for(@eat_by_date) do |f| %>
  <% if @eat_by_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eat_by_date.errors.count, "error") %> prohibited this eat_by_date from being saved:</h2>

      <ul>
      <% @eat_by_date.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
