<head>
<style type="text/css">
div{background-color:#ffffff;}
.g{font-size:12px;border:1px solid red;}
</style>
</head>

<body>

<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <td><b><%= f.label :full_name %></b><br />
    <%= f.text_field :full_name, :placeholder => "Enter your Full_name" %></td></tr>
  </div>
<hr />

   <div class="field">
    <td><b><%= f.label :Address_1 %></b><br />
    <%= f.text_area :address_1, :size => "100x7", :placeholder => "Enter your Full_name" %></td></tr>
  </div>
<hr />

   <div class="field">
    <td><b><%= f.label :address_2 %></b><br />
    <%= f.text_area :address_2, :size => "100x7", :placeholder => "Enter your Full_name" %></td></tr>
  </div>
<hr />

   <div class="field">
    <td><b><%= f.label :Contact_number %></b><br />
    <%= f.text_field :contact_number, :placeholder => "Mobile Number" %></td></tr>
  </div>
<hr />

   <div class="field">
    <td><b><%= f.label :Status %></b><br />
    <%= f.text_field :status, :placeholder => "Mobile Number" %></td></tr>
  </div>
<hr />

   <div class="field">
    <td><b><%= f.label :Postal_number %></b><br />
    <%= f.text_field :postal_address, :placeholder => "Mobile Number" %></td></tr>
  </div>
<hr />

   <div class="field">
    <td><b><%= f.label :Date_of_birth %></b><br />
    <%= f.date_select :date_of_birth %></td></tr>
  </div>
<hr />

  <div class="field">
      <b><%= f.label :'Food_Preference:' %></b><br />
       <% for category in Value.find(:all) %>
       <%= check_box_tag( 'profile[value_ids][]',
           category.id,  
           :onClick => "$$('#my_form input.check').each(function(box){box.checked=($('check_all').checked)?true:false});")%>
           <strong><%= category.name %></strong>
       <% end %>
</div><hr />

<div class ="field">
   <b><%= f.label :'Cooking interests Or about Me' %></b><br /> 
   <%= f.text_area :about_me, :size=>'75x6',  :class => "mceEditor" %>
</div><hr />

<div class ="field">
   <%= f.hidden_field :user_id, :value => current_user.id %>
</div>

  <div class="actions">
   <tr><td><%= f.submit %></td></tr>
  </div>

<% end %>
</table>
