
<% @blogs.each do |blog| %>
    <h2><%= link_to blog.title, blog %></h2><br /><%= blog.created_at %><br /><br />
    <%= truncate(blog.body.html_safe, :length => 350) %>&nbsp;&nbsp;<%= link_to 'Read More', blog %><br /><br />
<% end %>

<%= paginate @blogs %>
