<% form_for(@listing, :html => {:multipart => true}) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><u><%= f.label :title %></b><br />
    <%= f.text_field :title, :placeholder => "title of the listing" %><br />
  </div>

  <div class="field">
    <b><u><%= f.label :location %></b><br />
    <%= f.text_field :address, :placeholder => "location of the listing" %><br />
  </div>

  <div class="field">
    <b><u><%= f.label :food_category_id %></b><br />
    <%= f.collection_select  :food_category_id, FoodCategory.find(:all), :id ,:name %>
    <!--<%= f.autocomplete_field :food_category_id, autocomplete_food_category_name_listings_path %> !-->
    <!--<%= f.autocomplete_field :food_category_id, autocomplete_food_category_name_listings_path, :id_element => "#id_element_placeholder" %>!-->
  </div>

  <div class="field">
    <b><u><%= f.label :description %></u></b><br />
    <%= f.text_area :description, :size => "55x10" %>
  </div>

  <div class="field">
    <b><u><%= f.label :location_id %></u></b><br />
    <%= f.collection_select :location_id , Location.find_all_by_user_id(current_user), :id ,:address  %></td>
  </div>

  <div class="field">
    <b><u><%= f.label :start_date %></u></b><br />
          <%= f.text_field :start_date, :placeholder =>"start date" %>
  </div>

  <div class="field">
    <b><u><%= f.label :end_date %></u></b><br />
          <%= f.text_field :end_date, :placeholder => "end_date" %>
  </div>
<br />

  <div class="field">
    <b><u><%= f.label :Image_Upload %></u></b><br />
          <%= f.file_field :photo %>
  </div>
<br />

  <div class="field">
    <%= f.hidden_field :user_id, :value=>current_user.id %>
  </div>

    <b><u><%= f.label :Food_Type %></u></b><br />
        <% @values.each do |value| -%>
               <div style="position:relative;
                           font-size:10px;
                           text-decoration:underline; 
                           visibility:visible; 
                           background-color:#FFFFCC; 
                           layer-backgroundcolor:#FFFFCC; 
                           border:1px none #000000; 
                           z-index:1"> 
 <p><%= check_box_tag( 'listing[tag_list][]',  value.name,  :onClick => "$$('#my_form input.check').each(function(box){box.checked=($('check_all').checked)?true:false});")%>
        <%= value.name -%></p>
</div>
        <% end %>
<br />


  <div class="field">
    <td><b><u><%= f.label :Suggested_Storage %></u></b><br />
    <%= f.radio_button  :eat_by_date_id, 1 %> <%= f.label :eat_by_date_id, "Shelf" %>
    <%= f.radio_button  :eat_by_date_id, 2 %> <%= f.label :status_2, "Freezer" %>  
    <%= f.radio_button  :eat_by_date_id, 3 %> <%= f.label :status_3, "Fridge" %><br /></td>
  </div>

  <div class="actions">
      <a><span><%= f.submit :class=>'button-save-cancel' %></span></a>
  </div>

<% end %>
