<h1>All listings</h1>

<% @listings.each do |listing| %>
       <div class="tabmenu-contain-main">
       <div class="tabmenu-contain-image">
         <% if listing.photo.exists? then %>
          <%= image_tag listing.photo.url(:thumb) %> 
         <% end %>
       </div>
       <div class="tabmenu-contain-teaxright">
       <h3>            <%=link_to listing.title, listing %></h3>
         <p>Category : <%= link_to listing.food_category.name, listing.food_category %></p>
         <p>           <%= truncate listing.description %><%= link_to 'read_more' , listing %> </p>
       </b><br />
       </div>
       </div>
<% end %> 

<%= will_paginate @meal, :class => 'pagination ajax' %><br />

<h3><a href="/listings/new" class="button-save-cancel"><span>New Listing</span></a></h3>

