<p>
<% if @listing.photo.exists? then %>
	<%= image_tag @listing.photo.url(:small) %>
<% end %>
</p><br />

<p>
<b>Title:</b>
<%= @listing.title %>
</p><br />

<p>
<b>Food category:</b>
<%= @listing.food_category.name %>
</p><br />

<p>
<b>Description:</b>
<%= @listing.description %>
</p><br />

<p>
<b>Start date:</b>
<%= @listing.start_date %>
</p><br />

<p>
<b>End date:</b>
<%= @listing.end_date %>
</p><br />

<p>
<b>Location:</b>
<%= @listing.location.address %>
</p><br />

<b>Food type:</b><br />
<% @listing.tags.each do |f| %>
<br />
      <div style="position:relative;
                  font-size:13px;
                  text-decoration:underline; 
                  width:150px;
                  visibility:visible; 
                  background-color:#FFFFCC; 
                  layer-backgroundcolor:#FFFFCC; 
                  border:1px none #000000; 
                  z-index:1"> 
<p><%= f.name %></p>
</div>
<% end %>

<br />
<p>
<b>Availablity Duration:</b><br />
<% if ( @listing.end_date - Date.today() ).to_i < 0 %>
<p style = color:darkorange;font-size:20px> <b>"Sorry !..this Listing Has Expired "</b> </p>
<% else %>
<%= distance_of_time_in_words(Time.now, @listing.end_date +  50.minute) %></td>
<% end %>
</p><br />

<p>
<b>Eat by date:</b>
<%= @listing.eat_by_date.name %>
</p>
<hr />

<h3>
<% if can? :update, @listing %>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<% end %>
<% if can? :destroy, @listing %>
<%= link_to 'Destroy', @listing, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<a href="/listings/" class="button-save-cancel"><span>View All</span></a>
</h3>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'dailyscience'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
<br /><br />
<%= gmaps4rails(@json) %>
<br /><br />
