<div style ="float:right">
 <% if @listing.user_id == current_user.id %>
  (<%= link_to 'Edit', edit_listing_path(@listing) %> |
  <%= link_to 'Remove', @listing, :confirm => 'Are you sure?', :method => :delete %>)
  <a href="/listings/" class="button-save-cancel"><span>View All Listings</span></a>
<% else %>
  <a href="/listings/" class="button-save-cancel"><span>View All Listings</span></a>
<% end %>
</div>

<div style="height:200px; width:400px; border: 1px solid black;border-radius: 6px;">
<% if @listing.photo.exists? then %>
	<%= image_tag @listing.photo.url, :size =>"400x200" %>
<% end %>
</div>

<br><br>
<p>
<b>Title:</b>
<%= @listing.title %>
</p>
<br>

<p>
<b>Food category:</b>
<%= @listing.food_category.name %>
</p>
<br>

<p>
<b>Description:</b>
<%= @listing.description %>
</p>
<br>

<p>
<b>Start date:</b>
<%= time_tag @listing.start_date %>
</p>
<br>

<p>
<b>End date:</b>
<%= time_tag @listing.end_date %>
</p>
<br>

<table>
<b>Food type:</b><br />
<% @listing.tags.each do |f| %>
<tr>
<td><%= f.name %></td>
</tr>
<% end %>
</table>
<br>

<p>
<b>Availablity Duration:</b>&nbsp;&nbsp;
<% if ( @listing.end_date - Date.today() ).to_i < 0 %>
<p style = color:darkorange;font-size:20px> <b>"Sorry !..this Listing Has Expired "</b> </p>
<% else %>
<%= distance_of_time_in_words(Time.now, @listing.end_date +  50.minute) %></td>
<% end %>
</p>
<br>

<p>
<b>Suggested Storage:</b>
<%= @listing.eat_by_date.name %>
</p>
<hr>

<p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=14&markers=#{@listing.latitude}%2C#{@listing.longitude}" %>
</p>
<br />


<table cellspacing='0' class="Design4">
<% unless @listing.comments.empty? %>
  <b> 
	<%= pluralize(@listing.comments.size, 'comment') %>
  </b>
  <br>

 <% for comment in @listing.comments %>

<tr>
  <thead>
     <td><%= gravatar_image_tag(current_user.email.downcase,
                                            :alt => current_user.email,
                                            :class => 'gravatar',
                                            :gravatar => {:size => 50}) %>

      <strong style  = color:blue>
         <%= h comment.user.email  %>
     </strong>
      <em>on <%= comment.created_at.strftime('%b %d, %Y at %H:%M') %></em>
<br>
    </td>
</tr>
    <td><%= simple_format comment.content %><hr /></td>
  <% end %>
<% if comment.user_id == current_user.id %>
          <td>&nbsp;&nbsp;&nbsp;<%= link_to 'Edit', edit_comment_path(comment) %></td>
  <% end %>
<% end %>
</table>
<%= render :partial => 'comments/form' %>
