<h1>Compose</h1>

<%= simple_form_for :message, :url => {:controller => "sent", :action => "create"} do |f| %>

  <div class= "fields">
    <%= f.label :'To:' %><br />
    <select name="message[to][]">
      <%= options_from_collection_for_select(User.find(:all), :id, :email, @message.to) %>
    </select>
  </div><br />

  <div class ="fields">
    <%= f.label :'Subject:' %><br />
    <%= f.text_field :subject %>
  </div><br />

  <div class= "fields">
    <%= f.label:'Body:' %><br />
    <%= f.text_area :body %>
  </div><br />

<div class ="fields">
  <%= submit_tag "Send" %>
</div>

<% end %>
