<h2>Registration New User</h2><hr/>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<p style = "color:darkred">*Note -> Required fields<br /><br />

<div class="field">
  <b>*<%= f.label :email %></b><br />
  <%= f.email_field :email, :placeholder=>"Enter Your Email Address" %>
</div><br />

<div class="field">
  <b>*<%= f.label :password %></b><br />
  <%= f.password_field :password, :placeholder =>"Enter Password" %>
</div><br />

<div class="field">
  <b>*<%= f.label :password_confirmation %></b><br />
  <%= f.password_field :password_confirmation, :placeholder =>"retype password" %>
</div><br />

<div class="field">
 <b>*<%= f.label :Group_Name %></b><br />
  <%= f.collection_select :role_id, Role.find(:all), :id, :name, :prompt=>"Select Group" %>
</div><br />


<div class="field">
  <p><%= f.submit "Register" %></p>
</div>
<% end %>
<br />
<%= render :partial => "devise/shared/links" %>
