<div style = "margin-left:30%;margin-top:20px;padding-left:20px;padding-top:20px;border:12px solid silver;
              border-radius:20px 20px 20px 20px;
              width:350px;height:300px;font-size:10px">

<h2>REGISTER NEW USER</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><b><%= f.label :email %></b><br />
  <%= f.email_field :email %></div><br />

  <div><b><%= f.label :password %></b><br />
  <%= f.password_field :password %></div><br />

  <div><b><%= f.label :password_confirmation %></b><br />
  <%= f.password_field :password_confirmation %></div><br />

  <div><%= f.submit "Sign up" %></div>





<% end %>

<%= render :partial => "devise/shared/links" %>
