<ul>
  <!--
	<li style="float: right;"><a href="#">Tab 1</a></li>
	<li style="float: right;"><a href="#">Tab 2</a></li>
    -->
	<li><%= tab_to "Post", posts_path %></li>
	<li><%= tab_to "Users", users_path %></li>
	<li><%= tab_to "Comments", comments_path %></li>
	<li><%= tab_to "Users", users_path %></li>
	<li><%= tab_to "Users", users_path %></li>
	<li><%= tab_to "Users", users_path %></li>
	<li><%= tab_to "Users", users_path %></li>
	<li><%= tab_to "Users", users_path %></li>
	<li><%= tab_to "Users", users_path %></li>
	<li><%= tab_to "Users", users_path %></li>

</ul>
