<head>
 <%= stylesheet_link_tag "scaffolds","demo.css","real-good-food.css","tabmenu-inner.css" %>
 <%= javascript_include_tag "application","jquery-1.6.2.js" %>
 <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" %>
<%= javascript_include_tag 'switchcontent.js','switchicon.js' %>
<%= stylesheet_link_tag 'text-expand.css' %>	

<script type="text/javascript">

$(document).ready(function(){
$('#tabs div').hide();
$('#tabs div:first').show();
$('#tabs ul li:first').addClass('active');
$('#tabs ul li a').click(function(){ 
$('#tabs ul li').removeClass('active');
$(this).parent().addClass('active'); 
var currentTab = $(this).attr('href'); 
$('#tabs div').hide();
$(currentTab).show();
return false;
});
});
</script>

</head>

<body>

<script type="text/javascript">
function hide_additional_information_fields() {
	$('#event_ev_pot').parent().slideUp();
}

function reset_additional_field_values() 
{
	// Set 'Specify location' to 'N/A'
	$('#event_ev_pot').val('N/A');
}

function initialize_additional_fields()
{
	var location = $('#event_event_type').val();
	if(location == 'Potluck') {
		$('#event_ev_pot').parent().slideDown();
	} 
	
}

 $(function() {
 	
 	hide_additional_information_fields();
 	reset_additional_field_values();
 	
 	$('#event_event_type').change(function() {
 		hide_additional_information_fields();
 		reset_additional_field_values();
 		var location = $(this).val();
 		if(location == 'Potluck') {
 			// 1. Set 'Specify degree' to ''
 			// 2. Display 'Specify degree' 			
 			$('#event_ev_pot').val('');
 			$('#event_ev_pot').parent().slideDown();
 			$('#event_ev_pot').focus();
 			
 		}  	});
 	
 	$('#event_event_type').change(function()
 {
 	});
 });
</script>


<div id="sitewrapper">
  <div id="logo-inner-main">

    <div class="logo-inner-right">
      <div class="clear"></div>
      <ul class="nav-inner-main">
        <li><a href="#">Search</a></li>
        <li><a href="#">Browse</a></li>
        <li><a href="#">Groups</a></li>
      </ul>
    </div>
  </div>


  <div id="gutter">&nbsp; </div>
  <div id="maincontainer">
    <div id="left-container">
      <div class="right-box-border">
        <div class="right-box-main">

          <div class="user-iconbg">
              <%= image_tag current_user.profile.photo.url(:profile)  %>
          </div>

          <div class="username-title">
            <%= current_user.profile.full_name %>
          </div>
          <div>
            <strong>Member Since:</strong><br />
               <div class="username-title">
                 <%= time_tag current_user.created_at %>
               </div>
            <strong>Last Login:</strong><br />
              <div class="username-title">
                 <%= time_tag current_user.last_sign_in_at %>
              </div> 
         </div>
        </div>
      </div>

      <div class="right-box-border">
        <div class="right-box-main">
          <div class="inner-left-right-side-title">User Option</div>
          <ul class="inner-left-right-link">
            <li><a><%= link_to 'My Dashboard', dashboards_path %></a></li>
            <li><a><%= link_to 'My Profile', profile_path(current_user) %></a></li>
            <li><a><%= link_to 'Change Password', edit_user_registration_path %></a></li>
            <li><a><%= link_to 'Add a Food Listing', new_listing_path %></a></li>
            <li><a><%= link_to 'Add an Event', new_event_path %></a></li>
          </ul>
        </div>
      </div>
      <div class="right-box-border">
        <div class="right-box-main">
          <div class="inner-left-right-side-title">Latest Events</div>
          <br />
     <% unless @latest_events.nil? %>
            <% @latest_event.each do |le| %>
              <%= link_to le.name, le %><hr />
            <% end %><% end %>
         </div>
      </div>
    </div>

<div id="center-inner-container">
<h1>Add an Event</h1>

<%= form_for(@event, :html => {:multipart => true}) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>	


  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="field">
    <b><%= f.label :title %></b><br />
    <%= f.text_field :name, 
                     :placeholder=>"food listing name",
                     :class=>"inner-inputbox-large",
                     :id=>"textfield" %><br />
  </div><br /><br />


  <div class="field">
    <%= f.label :Description %>
    <%= f.text_area :event_description,
                    :size => "55x10",
                    :class=>"inner-inputarea-large",
                    :id=>"textarea" %>
  </div><br />

  <div class="field">
    <%= f.label :starting_on %><br />
    <%= f.date_select :event_starting_on %>
  </div><br />

  <div class="field">
    <%= f.label :ending_on %><br />
    <%= f.date_select :event_ending_on %>
  </div><br />

  <div class="styled-select">
    <%= f.label :'Event Type' %><br>
    <%= select(:event, :event_type,
                 ['Swap','Dinner Party','Collaborative Cooking Event','Potluck']) %>
  </div><br />

  <div class="field">
    <%= f.text_field :ev_pot %>
    <%= f.text_field :ev_swap %>
    <%= f.text_field :ev_party %>
    <%= f.text_field :ev_collaborative %>
  </div><br />


<br/><br />

<%= f.submit %>

</div>
<br />
<% end %>
</body>

  <div id="footer">
    <div class="left">

      <div class="logo-footer">
        <img src="../images/logo-bottom.jpg" width="62" height="54" alt="logo footer" />
      </div>

      <div class="left">Copyright © 2011 <br />
        Real Good Food.com, <br />
        All rights Reserved
      </div>

    </div>

    <div class="right">
      <a href="#">How does it work?</a> |
      <a href="#">Learn more</a> |
      <a href="#">Events</a> |
      <a href="#">Sigh up</a> |
      <a href="#">Contact us</a>
    </div>

  </div>

  <div class="clear"></div>
  
</div>

</body>
</html>

