<%= form_for(@event, :html => {:multipart => true}) do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <b><%= f.label :'Select Event Type' %></b><hr />
    <%= f.collection_select :event_category_id, EventCategory.find(:all), :id , :name, {},
                           {:onchange => "#{remote_function(:url  => {:action => "update_events"},
                           :with => "'project_id='+value")}"} %><br/>
 </div>
<hr/>

  <div class="field">
    <b><%= f.label :name %></b><hr />
    <%= f.text_field :name %>
  </div>
	<br />
  <div class="field">
    <b><%= f.label :event_description %></b><hr />
    <%= f.text_area :event_description, :size => "55x10" %>
  </div>
	<br />
  <div class="field">
    <b><%= f.label :event_starting_on %></b><hr />
    <%= f.date_select :event_starting_on %>
  </div>
	<br />
  <div class="field">
    <b><%= f.label :event_ending_on %></b><hr />
    <%= f.date_select :event_ending_on %>
  </div>
	<br />
  <div class="field">
    <b><%= f.label :'Please Type The Event Address' %></b><hr />
    <%= f.text_area :address, :size => '55x3' %>
  </div>
	<br />

  <div class="field">
   <b> Upload Event Image : </b><br />
     <%= f.file_field :photo %>
  </div>
       <br />

  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="field">
    <b><u><%= f.label :'Add Listings To Event' %></u></b><br />
    <% Listing.find(:all).each do |listing| -%>
               <div style="position:relative;
                           font-size:10px;
                           text-decoration:underline; 
                           visibility:visible; 
                           background-color:#FFFFCC; 
                           layer-backgroundcolor:#FFFFCC; 
                           border:1px none #000000; 
                           z-index:1"> 

    <p><%= check_box_tag('event[listing_list][]',  listing.title,:onClick => "$$('#my_form input.check').each(function(box){box.checked=($('check_all').checked)?true:false});")%>
        <%= listing.title -%></p>
</div>
        <% end %>

</div><br />
  <div class="field">
<%= f.submit %>
  </div>
<br />
<% end %>
