<%= form_for(@event, :html => {:multipart => true}) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'Add Event Category' %><br />
    <%= f.collection_select :event_category_id, EventCategory.find(:all), :id , :name %></option>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
	<br />

  <div class="field">
    <%= f.label :event_description %><br />
    <%= f.text_area :event_description, :size => "55x10" %>
  </div>
	<br />

  <div class="field">
    <%= f.label :event_starting_on %><br />
    <%= f.text_field :event_starting_on %>
  </div>
	<br />

  <div class="field">
    <%= f.label :event_ending_on %><br />
    <%= f.text_field :event_ending_on %>
  </div>
	<br />

  <div class="field">
    <%= f.label :'Please Type The Event Address' %><br />
    <%= f.text_area :address, :size => '55x3' %>
  </div>
	<br />

  <div class="field">
   <b> Upload Event Image : </b><br />
     <%= f.file_field :photo %>
  </div>
       <br />


  <div class="field">
    <b><%= f.label :no_of_guests %></b>
    <%= select :meal, :no_of_guests,                                
        ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20'] %>
  </div><br />

  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

<%= f.submit %>

  <div class="actions">
      <div>
            <a href="/events" class="button-save-cancel"><span>Save</span></a>
            <a href="/events" class="button-save-cancel"><span>Cancel</span></a>
      </div>

  </div>
<br />
<% end %>
</body>
