<h1>New event</h1>
<head>
 <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
<%= csrf_meta_tag %>

<style type="text/css">
    .my_div {
        width: 600px;
        height: 600px;
    }
    #swap { background: red; }
    #potluck { background: green; }
    #dinnerparty { background: blue; }
    #cooking { background: gray; }
</style>

</head>
<body>
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <b><%= f.label :'Select Event Type' %></b><hr />

    <%= f.collection_select :event_category_id, EventCategory.find(:all), :id , :name, {},
                           {:onchange => "#{remote_function(:url  => {:action => "update_events"},
                            :with => "'project_id='+value")}"} %><br/>
      <td><div id="form"></div>

<hr/>



    <%= f.radio_button :event_category_id, 'swap',
                           {:onchange => "alert('hello')"} %>
    <%= f.label :patch_type_unix, "Swap" %><br />

    <%= f.radio_button :event_category_id, 'potluck',
                       :onchange=>"ajscriptcall('ajax_method_in_controller_name')" %>
    <%= f.label :patch_type_windows, "Potluck" %><br />

    <%= f.radio_button :event_category_id, 'dinner party',
                       :onchange=>"ajscriptcall('ajax_method_in_controller_name')" %>
    <%= f.label :patch_type_windows, "Dinner Party" %><br />

    <%= f.radio_button :event_category_id, 'collaborative_cooking_event ',
                       :onchange=>"ajscriptcall('ajax_method_in_controller_name')" %>
    <%= f.label :patch_type_windows, "Collaborative Cooking Event" %><br />


<hr/>
        <div id="swap">
            <%= render :partial => 'swap'  %>
        </div>
        <div id="potluck">
           <%= render :partial => 'potluck'  %>
        </div>
        <div id="dinnerparty">
           <%= render :partial => 'dinner_party'  %>
        </div>
        <div id="cooking">
           <%= render :partial => 'collaborative_cooking_event'  %>
        </div>

  </div>
        <br />
  <div class="field">
    <%= f.label :name %><hr />
    <%= f.text_field :name %>
  </div>
	<br />
  <div class="field">
    <%= f.label :event_description %><hr />
    <%= f.text_area :event_description, :size => "55x10" %>
  </div>
	<br />
  <div class="field">
    <%= f.label :event_starting_on %><hr />
    <%= f.date_select :event_starting_on %>
  </div>
	<br />
  <div class="field">
    <%= f.label :event_ending_on %><hr />
    <%= f.date_select 'event_ending_on' %>
  </div>
	<br />
  <div class="field">
    <%= f.label :'Please Type The Event Address' %><hr />
    <%= f.text_area :address, :size => '55x3' %>
  </div>
	<br />
  <div class="field">
    <%= f.label :attending %>
    <%= f.check_box :attending %>
    <%= label_tag :not_attending %>
    <%= check_box_tag :attending %>
  </div>
	<br />
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
<%= f.submit %>
  <div class="actions">
      <div>
            <a href="/events" class="button-save-cancel"><span>Save</span></a>
            <a href="/events" class="button-save-cancel"><span>Cancel</span></a>
      </div>

  </div>
<br />
<% end %>
</body>
