
<div style ="float:right;font-family:BlackChancery;font-size:15px">
<% if @event.user_id == current_user.id %>
 <b>(<%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'List All Events', events_path %> |
    <%= link_to 'Destroy', @event, :confirm => 'Are you sure?', :method => :delete %>)</b>
<% else %>
    <%= link_to 'List All Events', events_path %> 
<% end %>
<br><br>
<b style ="font-size:15px">
  <%= link_to "I Am Interested", event_attendence_event_path(:event_id => @event) %>
</b>

</div>




<% if @event.photo.exists? then %>
  <%= image_tag @event.photo.url(:small) %>
<% end %><br><br><br>

<p>
  <b>Event Type Name:</b>
  <%= @event.event_type %>
</p>


<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Event description:</b>
  <%= @event.event_description %>
</p>

<p>
  <b>Event starting on:</b>
  <%= @event.event_starting_on %>
</p>

<p>
  <b>Event ending on:</b>
  <%= @event.event_ending_on %>
</p>

<p>
  <td><b>Total No Of Seats:</b>
  <%= @event.no_of_guests %></td>
</p>

<p>
  <td><b>No Of Guests Participanting:</b>
  <%= @event.no_of_guests_attending %></td>
</p>

<p>
  <b>Owner:</b>
  <%= @event.user.profile.full_name %>
</p>

<b style = color:green><%= distance_of_time_in_words(Time.now, @event.event_starting_on +  50.minute) %></b>
<br /><br />

<style>
.table
     { color :black;
       border:3px solid black;
     }
   .table td{
             border:1px solid green;
             text-align:center;
             width :160px;
            }
</style>

<% if @event.event_type=="Potluck" %>

<table class = "table">
   <tr>
     <th> Food Name </th>
     <th> Food For People </th>
     <th> Food Type </th>
   </tr>
  <% @event.potlucks.each do |p| %>
    <tr>
     <td><%= p.food_name %></td>
     <td><%= p.food_for_people %></td>
     <td><%= p.food_type %></td>
    </tr>
  <% end %>
</table>
<% end %>
<br>

<p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=14&markers=#{@event.latitude}%2C#{@event.longitude}" %>
</p>

