<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Real Good Food - <%= yield(:title) || "The Place to Show Cooking Talent" %></title>
  <%= stylesheet_link_tag 'real-good-food.css','tabmenu-inner.css' %>
  <%= stylesheet_link_tag 'text-expand.css' %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" %>
  <%= javascript_include_tag 'switchcontent.js','switchicon.js' %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js",
                             "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
  <%= csrf_meta_tag %> 
  <%= javascript_include_tag 'jquery.min.js' %>
<script type="text/javascript">

$(document).ready(function(){
$('#tabs div').hide();
$('#tabs div:first').show();
$('#tabs ul li:first').addClass('active');
$('#tabs ul li a').click(function(){ 
$('#tabs ul li').removeClass('active');
$(this).parent().addClass('active'); 
var currentTab = $(this).attr('href'); 
$('#tabs div').hide();
$(currentTab).show();
return false;
});
});
</script>

<%= javascript_include_tag 'switchcontent.js','switchicon.js' %>

</head>

<body>
<div id="sitewrapper">
  <div id="logo-inner-main">
    <div class="logo-inner"><a href="/"><img src="/images/logo.jpg" width="136" height="123" alt="logo" /></a> </div>
    <div class="logo-inner-right">
	<%= render :partial => 'shared/global_links' %>
    </div>
      <div class="clear"></div>
      <ul class="nav-inner-main">
        <li><%= link_to "All Listings", listings_path %></li>
        <li><%= link_to "All Events", events_path %></li>
        <li><%= link_to "All Groups", groups_path %></li>
        <li><%= link_to "My Dashboard", dashboard_path(current_user) %></li>
      </ul>
    </div>
  </div>
  <div id="gutter">&nbsp; </div>
  <div id="maincontainer">
    <div id="left-container">
      <div class="right-box-border">
        <div class="right-box-main">

          <div class="user-iconbg"> 
           <% if @profile.photo.exists? then %>
	     <%= image_tag @profile.photo.url(:profile) %>
           <% end %>
          </div>

          <div class="username-title"><%= @profile.full_name %></div>

          <div>
               <strong>Member Since:</strong>
                      <%= time_tag @profile.created_at %>
               <strong>Last Login:</strong>
                     <%= time_tag @profile.user.last_sign_in_at %>
          </div>
        </div>
      </div>
      <div class="right-box-border">
        <div class="right-box-main">
          <div class="inner-left-right-side-title">User Option</div>
          <ul class="inner-left-right-link">
            <li><a href="my-dashboard.html">My Dashboard</a></li>
            <li class="sel"><a href="my-profile.html">My Profile</a></li>
            <li><a href="change-password.html">Change Password</a></li>
            <li><a href="add-food-listing.html">Add a food listing</a></li>
            <li><a href="add-event.html">Add an event</a></li>
          </ul>
        </div>
      </div>
      <div class="right-box-border">
        <div class="right-box-main">
          <div class="inner-left-right-side-title">Latest Events</div>
          <br />
          August 10, 2011 – Arlington Farmers Market
          2:30 pm, Farmers Markets
          <hr />
          August 10, 2011 – Arlington Farmers Market
          2:30 pm, Farmers Markets
          <hr />
          August 10, 2011 – Arlington Farmers Market
          2:30 pm, Farmers Markets </div>
      </div>
    </div>
    <div id="center-right-inner-container">
     <%= yield %>
    </div>
  <div id="footer">
    <div class="left">
      <div class="logo-footer"><img src="images/logo-bottom.jpg" width="62" height="54" alt="logo footer" /></div>
      <div class="left">Copyright © 2011 <br />
        Real Good Food.com, <br />
        All rights Reserved</div>
    </div>
    <div class="right"><a href="#">How does it work?</a> | <a href="#">Learn more</a> | <a href="#">Events</a> | <a href="#">Sigh up</a> | <a href="#">Contact us</a></div>
  </div>
  <div class="clear"></div>
</div>
<script type="text/javascript" src="js/jquery-1.6.1.min.js"></script> 
<script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script> 
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
		$(".eg-bar").removeAttr("style");
    });
	
	function showContent()
	{
		
	$(".eg-bar").removeAttr("style");	
	}
    </script>
</body>
</html>
