<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Real Good Food</title>
  <%= yield :head %> 
 <%= stylesheet_link_tag 'real-good-food.css','nivo-theme.css','nivo-slider.css','tabmenu.css' %>
 <%= javascript_include_tag :defaults %>
 <%= javascript_include_tag 'tabmenu.js','jquery-1.4.2.min.js', 'jquery-ui-1.8.2.custom.min.js', 'rails.js', 'autocomplete-rails.js' %>
 <%= stylesheet_link_tag 'jquery-ui-1.8.2.custom.css' %>
</head>

<body>
 <%= javascript_include_tag 'tabmenu.js' %>
<script type="text/javascript">

$(document).ready(function() {

	//Default Action
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content
	
	//On Click Event
	$("ul.tabs li").click(function() {
		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content
		var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active content
		return false;
	});

});
</script>
<div id="sitewrapper">
  <div id="logo-mainwrapper">
   <div class="left"> <a href="index.html"><img src="../images/logo.jpg" width="136" height="123" alt="logo" /></a> </div>
    <div class="logo-right">
<% if signed_in? %>
        <div class="facebook-login-button-main"> 
        <a href="#"><b style = font-size:15px><u><%= current_user.email %></u></b></a> 
        <%= link_to "My Account", edit_user_registration_path, :class=>"button-facebook-memberlogin" %>         
	<%= link_to "Log out", destroy_user_session_path, :method => :delete, :class=>"button-facebook-memberlogin" %>
<% else %>      
        <div class="facebook-login-button-main"> 
        <a href="#">Join Now</a> <a href="#" class="button-facebook-memberlogin"><span></span>Connect with Facebook</a>
        <%= link_to 'Create a free account', new_user_registration_path, :class => "register_link" %>        
 	<%= link_to "Member Login", user_session_path, :class=>"button-facebook-memberlogin" %>
<% end %>
 </div>
      <div class="clear"></div>
      <div class="top-nav">
        <span>
          <a href="#">HOW DOES IT WORK?</a>
          <a href="#">LEARN MORE</a>
          <a href="events/">EVENTS</a>
          <a href="#">CONTACT US</a>
       </span>
     </div>
    </div>
  </div>
  <div id="header-border">
    <div>
      <div id="wrapper">
        <div class="slider-wrapper nivo-theme">
          <div class="ribbon"></div>
          <div id="slider" class="nivoSlider"> <img src="../images/header.jpg" alt="" /> <img src="../images/header2.jpg" alt="" /> <img src="../images/header3.jpg" alt="" /> </div>
          <div id="htmlcaption" class="nivo-html-caption"> <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>. </div>
        </div>
      </div>
    </div>
  </div>
  <div id="maincontainer">
    <div id="left-center-container">
      <div class="description">
        <h1>Welcome to Real Good Food !</h1>
        <p> Thanks for visiting! This is the place to be if you love to cook and share your creations with people who will appreciate them as much as you do.</p>
        <p>Please don't hesitate to join the group most local to you: Ann Arbor, Carrboro/Chapel-Hill, Durham. Or please let us know where you would like Real Good Food to launch next by visiting this page.</p>
        <p>Also, we are in a transition period and we are building a new and more functional website.</p>
      </div>
      <div class="clear"></div>
      <div class="menulinkmain"> 
          <a href="listings/new" class="findameal"></a>
        <div class="menu-right-line"> </div>
        <a href="events/" class="postameal"></a>
        <div class="menu-right-line"> </div>
        <a href="groups/" class="gomobile"></a> </div>
      <div class="clear"></div>
      
      
      <div class="tab-container">


<ul class="tabs">
 <li><a href="#tab1"><span>Events</span></a></li>
 <li><a href="#tab2"><span>Group</span></a></li>
  </ul>
    <div class="event-search-bg">
    <span>
      <div class="left">
<%= form_tag events_path, :method => 'get', :id => "products_search" do %>
    <%= text_field_tag :search, params[:search], :class=>"events-inputbox" %>
      </div>
       <div class="right"><a href="#">
          <img src="../images/search-event.png" alt="search icon" /></a></div>
    </span>
      </div>
<% end %>
 <div class="tab_container">

 <div id="tab1" class="tab_content">
  <% Event.find(:all).each do |e| %>
   <div class="tabmenu-contain-main">
    <div class="tabmenu-contain-image">
      <img src="../images/event-logo.jpg" width="86" height="64" alt="event logo" />
    </div>
       <div class="tabmenu-contain-teaxright">
         <h5><%= link_to e.name, e %></h5>
         <strong>Where:</strong><b><%= e.address %></b><br />
         <strong>When:</strong><%= e.event_starting_on %> until <%= e.event_ending_on %>
       </div>
</div>

<% end %> 


    <div class="pagginginarea">
       	    <a href="#" class="paging-text-sel">Prev</a>
            <a href="#" class="paging-number-sel">1</a>
            <a href="#" class="paging-number">2</a>
            <a href="#" class="paging-number">3</a>
            <a href="#" class="paging-number">4</a>
            <a href="#" class="paging-number">5</a>
            <a href="#" class="paging-number">6</a>
            <a href="#" class="paging-number">7</a>
            <a href="#" class="paging-number">8</a>
            <a href="#" class="paging-number">9</a>
            <a href="#" class="paging-number">10</a>
            <a href="#" class="paging-text-next">Next</a>
        </div>

     </div>

      <div id="tab2" class="tab_content">
            <h2>Group</h2>
             <% Group.find(:all).each do |g| %>
               <p><%= link_to g.name, g %></p>
             <% end %>
        </div>
      </div>
</div>

</div>

    <div id="righ-container">
      <h3>Search New Good Food</h3>
      <div class="right-box-border">
        <div class="right-box-main">
          <div class="googlemap-seare-area">
            <div class="left">
              <input name="" type="text"  class="google-map-inputbox"/>
            </div>
            <div class="right">

                 <a href="#">
                   <img src="../images/search-icon-rightside.png" width="28" height="29" alt="search icon" /></a>
            </div>
          </div>
          <div class="left"><img src="../images/google-map.jpg" width="231" height="201" alt="google map" /></div>
        </div>
      </div>
      <div class="right-box-border">
        <div class="right-box-main"> <img src="../images/facebook.jpg" width="231" height="244" alt="facebook" /></div>
      </div>
      <h3>Follow us</h3>
      <div class="right-box-border">
        <div class="right-box-main"> <a href="#" class="facebook-icon"></a> <a href="#" class="twitter-icon"></a> <a href="#" class="rss-icon"></a> <a href="#" class="myspace-icon"></a> <a href="#" class="delicious-icon"></a> </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="left">
      <div class="logo-footer"><img src="../images/logo-bottom.jpg" width="62" height="54" alt="logo footer" /></div>
      <div class="left">Copyright © 2011 <br />
        Real Good Food.com, <br />
				<%= render :partial => 'shared/footer' %>
				<%= yield :scripts %>
        All rights Reserved</div>
    </div>
    <div class="right"><a href="#">How does it work?</a> | <a href="#">Learn more</a> | <a href="#">Events</a> | <a href="#">Sigh up</a> | <a href="#">Contact us</a></div>
  </div>
  <div class="clear"></div>
</div>
 <%= javascript_include_tag 'jquery-1.6.1.min.js','jquery.nivo.slider.pack.js' %>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
    
    
    
</body>
</html>
